/*Applicable css for entire file*/
*{
margin: 0;
padding: 0;
font-family:'cursive' ;
box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #178921, #4e085f);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    height: 400px;     /* Fixed height and width (is needed to add scroll) that might cause overflow */
    overflow-y: auto; /* overflow enables to add scroll use webkit scroll*/
}
.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px ;
} 
.todo-app h2 img{
    width: 30px;
    margin-left:10px;
}
.row{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    background: #ededed;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cecece;
    border-radius: 30px;
    padding-left: 60px;
    margin-top: -485px;
    width: auto;
    float: right;
    position: relative;
}


input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px; ;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}  
  button:hover{background:rgb(17, 190, 17);}

ul li{
    list-style: none;
    font-size: large;
    padding: 12px 45px 12px 50px;
    user-select: all;
    cursor: pointer;
    position: relative;
    word-wrap: break-word; /*adjustes word within space provided*/
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration:line-through;
}
ul li.checked::before{
    background-image: url(images/checked.png);

}
/* ul li edit{} */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px; 
    font-size: 22px;
    color:#555;
    line-height:40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background:#edeef0;
}
.todo-app::-webkit-scrollbar{
    width: 8px;
    
}
.todo-app::-webkit-scrollbar-thumb{
    background: #ff5945;
    border-radius: 30px;
}
#searchicon{
    width: 25px;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
#searchicon:hover{
    background: #f8f4efd2;
    border-radius: 45%;
}